#chance-of-flurries {
    display: none;
}
#chance-of-rain {
    display: none;

}
#chance-of-sleet {
    display: none;

}
#chance-of-snow {
    display: none;

}
#chance-of-storm {
    display: none;

}
#clear {
    display: none;

}
#cloudy {
    display: none;

}
#kinda-cloudy {
    display: none;

}
#hazy {
    display: none;

}
#rain {
    display: none;

}

#sleet{
    display: none;

}

#snow {
    display: none;

}

#sunny {
    display: none;

}
#storm {
    display: none;

}
