html{
  margin: 0px;
  padding: 0px;
}

body{
  margin: 0px;
  padding: 0px;
}

p{
  margin: 0px;
}

span{
  font-size:100px;
}


.pageContainer{
  margin: 0px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 80vh;
  width: 100vw;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.oneThird{
  text-align: center;
  justify-content: center;
}

.info{
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title{
  font-size: 50px;
}

.bottomItem{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 33%;
}

#top{
  height: 25%;
  width: 100%;
  font-size: 5vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#middle{
  height: 50%;
  width: 100%;
  font-size: 23vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bottom{
  height: 25%;
  width: 90%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 7vh;
}


#winDiv{
  display: flex;
  flex-direction: column;
}

#location{
  font-weight: 400;
}
#icon{
  font-weight: 700;
}
