
.colorScheme1{
color:#8F3985;
background-color: #07BEB8;
font-family: 'Abril Fatface', cursive;
}
.colorScheme2{
  color: #643B6F;
  background-color: #36E3D9;
  font-family: 'Dosis', sans-serif;

}
.colorScheme3{
  color: #B927C8;
  background-color: #E7F7E7;
  font-family: 'Nova Slim', cursive;
}
.colorScheme4{
  background-color: #44E161;
  color: #353091;
  font-family: 'Nova Oval', cursive;
}
.colorScheme5{
  color:#111118;
  background-color: #04A8EF;
  font-family: 'Nova Oval', cursive;
}
.colorScheme6{
  color: #F8E7D6;
  background-color: #C5176F;
  font-family: 'Nova Square', cursive;
}
.colorScheme7{
  color: #8F3985;
  background-color: #07BEB8;
  font-family: 'Quicksand', sans-serif;
}
.colorScheme8{
  color: #1B0A3E;
  background-color: #F83C7A;
  font-family: 'Quicksand', sans-serif;
}
.colorScheme9{

  color: #32E875;
  background: #5438DC;
  font-family: 'Quicksand', sans-serif;
}
.colorScheme10{
  color: #FA198B;
  background-color: #0E0004;
  font-family: 'Dosis', sans-serif;
}
.colorScheme11{
  background-color:  #FFF200;
  color: #000000;
  font-family: 'Bahiana', cursive;
}
.colorScheme12{
  background-color: #3C1210;
  color: #FDB515;
  font-family: 'Nova Square', cursive;
}
.colorScheme13{
  background-color: #643B6F;
  color: #36E3D9;
font-family: 'Amatic SC', cursive;
}
.colorScheme14{
  background-color: #B927C8;
  color: #E7F7E7;
  font-family: 'Rum Raisin', sans-serif;
}
.colorScheme15{
  background-color:  #FFF200;
  color: #000000;
  font-family: 'Bahiana', cursive;
}
.colorScheme16{
  background-color: #111118;
  color: #04A8EF;
  font-family: 'Unica One', cursive;
}
.colorScheme17{
  background-color: #F8E7D6;
  color: #C5176F;
  font-family: 'Unica One', cursive;
}
.colorScheme18{
  background-color: #0EB1D2 ;
  color: #E2E2E2;
  font-family: 'Amatic SC', sans-serif;
}
.colorScheme19{
  background-color: #1B0A3E;
  color: #F83C7A;
  font-family: 'Concert One', cursive;
}
.colorScheme20{
  background-color: #1789FC;
  color: #FDB833;
  font-family: 'Amatic SC', cursive;
}
.colorScheme21{
  background-color: #0D2240;
  color: #CF0A2C;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
}
.colorScheme22{
  color: white;
  background-color: #030826;
  font-family: 'Oleo Script', cursive;
}


/*




font-family: 'Rum Raisin', sans-serif;
font-family: 'Righteous', cursive;

#5438DC #32E875
#FDB833 #1789FC
#0EB1D2 #2B4141
#23CE6B #272D2D
#F564A9 #533B4D
#0F1020 #FAA6FF
#EC0868 #C200FB
#0A2463 #E2E2E2
#5DFDCB #7CC6FE
#6B2D5C #F0386B
#7F2982 #16001E
#645DD7 #FB62F6
*/
